# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Build output
.dist/
dist/
build/
coverage/
.cache/
.temp/
.DS_Store

# Env & secrets
.env
.env.*
!.env.example

# Logs
logs/
*.log

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# Misc
*.local
